* {
    box-sizing: border-box;
}

.section {
    display: grid;
    grid-template: 60px auto auto / 10% 80% 10%;
}

.header {
    display: flex;
    grid-column-start: 2;
    text-transform: uppercase;
    line-height: 15px;
    font-size: 1.5rem;
    align-items: center;
    color: #6A6A6A;
    font-weight: 700;
}

.headerSpan {
    width: 25px;
    height: 25px;
    background-color: #AAD045;
    border-radius: 3px;
    margin-right: 6px;
}

.seenHeader {
    color: #6A6A6A
}

.seenSpan {
    background-color: #ffbe00;
}

.movieContainer {
    border-radius: 3px;
    width: 18%;
    padding: 20px;
    margin-right: 2.5%;
    box-sizing: border-box;
    flex-shrink: 0;
    cursor: pointer;
    border: 1px dashed lightgray;
}

.movieSelected{
    background-color: #F0F0F0;
}

.moviesContainer {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
}


.leftArrow {
    grid-row-start: 2;
    grid-column-start: 1;
}

.rightArrow {
    grid-row-start: 2;
    grid-column-start: 3;
}

.leftArrow, .rightArrow {
    height: 50px;
    width: 50px;
    padding: 12px 12px;
    background-color: #E3E3E3;
    border-radius: 3px;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;

}

.about {
    grid-row-start:  3;
    grid-column: 2 / 3;
}


@media only screen and (max-width: 600px) {
    .section {
        grid-template: 60px auto auto / 5% 90% 5%;
    }

    .header {
        font-size: 1.1rem;
    }
    .movieContainer {
        padding: 0px;
        width: 30%;
    }

}