@import '../../../base';

.suggestion {
    display: flex;
    margin: 5px;
    box-sizing: border-box;
}

.title {
    flex-grow: 1;
    margin: 0px;
    align-self: center; 
    font-size: 1rem;
    font-weight: 600;
    padding-left: 10px;
}

.cardContainer {
    width: 60px;
    flex-shrink: 0;
}

.icon {
    position: relative;
    height: 40px;
    box-sizing: border-box;
    align-self: center;
    padding: 3px;
    flex-shrink: 0;
    cursor: pointer;
}

.icon:before {
    top: -40px;
    left: -110px;
    font-size: 0.7rem;
    text-align: center;
    position: absolute;
    width: 140px;
    background: #f0f0f0;
    border-radius: 3px;
    padding: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s 0s ;
}

.icon:after {
    top: -18px;
    right: 12px;
    position: absolute;
    content: "";
    pointer-events: none;
    width: 12px;
    height: 12px;    
    background: #f0f0f0;
    transform: rotate(45deg);
    z-index: 0;
    opacity: 0;
    transition: opacity .5s 0s ;
}

.icon:hover:after, .icon:hover:before {
    opacity: 1;
    transition: opacity .5s .5s ;
}

.unseen:before{
    content: "Add to Favorites";
}

.seen:before{
    content: "Add to Watch List";
}

.seen {
    display: flex;
    justify-content: center;
}

.unseen {
    min-width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.star {
    width: 30px;
}
